.full
  +section('Education')
    .education
      h2 B.A in Psychology, CS Minor 
      h3 2014-2017 | Expected Convocation date: w/ minor: June '18, w/o minor: Oct '17
      h4 University of Waterloo | Waterloo, Ontario, Canada
    .education
      h2 Candidate for B.A.Sc in Management Engineering
      h3 2012 - 2014
      h4 University of Waterloo | Waterloo, Ontario, Canada
    .education
      h2 GCE-O & A level diploma
      h3 Graduated August 2012
      h4 The Cambridge School | Kolkata, West Bengal, India
      ul
        li English: A*
        li Biology: A
        li Mathematics: A
        li Physics: A
        li Chemistry: B
        li TOEFL 118/120
