+sectionMidMin('Education')
  .education
    h3 University of Waterloo | Waterloo, ON, Canada
    p B.A. Psychology, CS minor
    p 2014 - 2017 | Expected Graduation: 2018
    p B.A.Sc. Management Engineering
    p 2012 - 2014
