+sectionMidMin('Experience')
  .job
    span
      h2
        a(href='http://www.rackspace.com/') Rackspace
      h5 July 2015 - March 2016
      h6 San Francisco, CA, USA
    h3 Software Engineer Intern
    h4 Go, Lua, JS, Python, Ruby, Java, C++, Bash;  Hadoop, Hive, Kafka, MongoDB, ElasticSearch, Logstash, Kibana, Grafana, Docker, Chef, Travis, Jenkins, Ansible
    ul
      li Achieved a 10x speed and capacity increase by building microservices for a distributed monitoring system and replacing data pipelines
      li Doubled 
        +link('https://github.com/virgo-agent-toolkit/rackspace-monitoring-agent') monitoring agent 
        | coverage area by writing or integrating ~100 plugins, included customer outreach
      li Improved extensibility of agent by writing 
        +link('https://github.com/luvit/luvit-docs') technical API docs
      li Resolved developer disputes and guided development of product using data driven testing and benchmarks, published 
        +link('https://developer.rackspace.com/blog/Apache-Kafka-Client-Benchmarks/') benchmarks 
        | to the Rackspace dev blog
      li Halved deployment times with automation 
        +link('https://github.com/racker/dreadnot') patches 
      li Discovered security holes and high interest areas for development by writing and using data science tools
      li Coordinated volunteer efforts for Rax.io, internal 500 attendee conference
      li Patches sent and accepted upstream to 10+ opensource projects including Python's
        +link('https://github.com/pypa/pip/pull/3372') pip, 
        +link('https://github.com/facebook/hhvm/commit/5a2fad570d64bb0c0f63286e1c76262a968c2ee2') facebook/HHVM, 
        +link('https://github.com/luvit/luvit/commits?author=kaustavha') luvit, 
        +link('https://github.com/racker/dreadnot/commits?author=kaustavha') racker/dreadnot, 
        +link('https://github.com/docker/machine/pull/2652') docker/machine, 
        +link('https://github.com/lmenezes/elasticsearch-kopf/commits?author=kaustavha') elasticsearch-kopf

  .job
    span
      h2 
        a(href='http://www.sparkgig.com') SparkGig
      h5 Sept 2013 - April 2014
      h6 Waterloo, Canada
    h3 Co-Founder, Full-stack Developer
    h4 MongoDB/NoSQL, ExpressJS, AngularJS, NodeJS, Nginx, AWS
    ul
      li Built core features of marketplace app as 1 of 3 founding developers including payments, profiles, invoices
      li Conducted user interviews to define & prioritize new features
      li Recruited buyers & sellers, helped grow to 500+ users & >$10k/yr revenue
      li Featured on Globe & Mail, Techvibes, The Record, 
        +link('https://betakit.com/airbnb-of-entertainment-sparkgig-takes-the-stage-on-thedisruptors/') Betakit, 
        +link('http://www.cbc.ca/dragonsden/pitches/sparkgig') Dragon's Den 
        | and raised ~$1m  
  .job
    span
      h2 
        a(href='https://github.com/farmtable') Farmtable
      h5 September - December 2014
      h6 Waterloo, Canada
    h3 Freelance full-stack developer, Tech lead
    h4 Ruby, Rails, Coffeescript, SQL, AWS
    p Led 4 person team to build startup MVP (marketplace & scheduler)...
  .job
    span
      h2
        a(href='http://www.flybrizi.com/') Brizi
      h5 April - May 2014
      h6 Waterloo, Canada
    h3 Freelance full-stack developer
    h4 JS, PHP, MySQL | CoffeeScript, Jade, Stylus, Bootstrap, ffmpeg
    p Built social, video & image webviews, Twitter integration...
  .job
    span
      h2 
        a(href='www.prepr.org') Prepr Foundation
      h5 July - August 2013
      h6 Toronto, Canada
    h3 Freelance web and mobile developer
    h4 JS, Cordova, Android/Java, SocketIO, Jquery UI, SQL, NodeJS
    p Built cross-platform mobile app with barcode scanning...
  .job
    span
      h2 
        a(href='http://veloxsites.com/') 411.ca | Veloxsites
      h5 May - July 2013
      h6 Toronto, Canada
    h3 Full-Stack developer intern
    h4 PHP, JS, HTML, MySQL, Bootstrap
    p Prevented mysql injection attacks, increased sales conversion 10% with widgets...
