+sectionMidMin('Experience')
  .job
    span
      h2
        a(href='http://www.rackspace.com/') Rackspace
      h5 July 2015 - March 2016
      h6 San Francisco, CA, USA
    h3 Software Engineer Intern
    h4 Go, Lua, JS, Python, Ruby, Java, C++, Bash;  Hadoop, Hive, Kafka, MongoDB, ElasticSearch, Logstash, Kibana, Grafana, Docker, Chef
    ul
      li Built microservices for a distributed monitoring backend causing a 10x speed & capacity increase; Onboarded developers & coordinated efforts; 
      li Deployed code to ~1m servers; Halved deployment times with automation
      li Built & used data science tools to find security holes (CVEs), prioritize developer efforts & generate insights from data
      li Guided development of product using benchmarks. Published benchmarks to company engineering blog
      li Wrote plugins for a Monitoring Agent & customer outreach; 100+ plugins integrated
      li Improved extensibility of product by documenting the framework used for it & creating an official docs site
      li Coordinated volunteers for Rax.io 2016, an internal hackathon & conference with 500+ attendees
      li Patches sent and accepted upstream to 10+ opensource projects including Python's pip, Facebook's HHVM compiler, luvit/luvit, racker/dreadnot, docker/machine, elasticsearch-kopf
  .job
    span
      h2 
        a(href='http://www.sparkgig.com') SparkGig
      h5 Sept 2013 - April 2014
      h6 Waterloo, Canada
    h3 Co-Founder, Full-stack Developer
    h4 MongoDB, ExpressJS, AngularJS, NodeJS, Nginx, AWS
    ul
      li Built core features like payments, profiles, invoices as a fullstack developer, growing revenue to >$10k/yr
      li Conducted user interviews to define & prioritize new features
      li Recruited buyers & sellers, helped grow to 500+ users
      li Featured on Globe & Mail, Techvibes, The Record, Dragon's Den and raised ~$1m  
  .job
    span
      h2 
        a(href='https://github.com/farmtable') Farmtable
      h5 September - December 2014
      h6 Waterloo, Canada
    h3 Freelance full-stack developer, Tech lead
    h4 Ruby, Rails, Coffeescript, SQL, AWS
    p Led 4 person team to build startup MVP (marketplace & scheduler)...
  .job
    span
      h2
        a(href='http://www.flybrizi.com/') Brizi
      h5 April - May 2014
      h6 Waterloo, Canada
    h3 Freelance full-stack developer
    h4 JS, PHP, MySQL | CoffeeScript, Jade, Stylus, Bootstrap, ffmpeg
    p Built social, video & image webviews, Twitter integration...
  .job
    span
      h2 
        a(href='www.prepr.org') Prepr Foundation
      h5 July - August 2013
      h6 Toronto, Canada
    h3 Freelance web and mobile developer
    h4 JS, Cordova, Android/Java, SocketIO, Jquery UI, SQL, NodeJS
    p Built cross-platform mobile app with barcode scanning...
  .job
    span
      h2 
        a(href='http://veloxsites.com/') 411.ca | Veloxsites
      h5 May - July 2013
      h6 Toronto, Canada
    h3 Web developer intern
    h4 PHP, JS, HTML, MySQL, Bootstrap
    p Prevented mysql injection attacks, increased sales conversion 10% with widgets...
