
+sectionMidMin('Experience')
  .job
    span
      h2 Rackspace
        +link('http://www.rackspace.com/')
          i.icon-link
      h5
        span.icon-summer
        span.icon-fall
        span.icon-winter July 2015 - March 2016
      h6 San Francisco, CA, USA
    h3 Software Engineer Intern
    h4 Go, Lua, ELK, JS, Python, Bash, Hadoop, Ruby, Java, MongoDb, Kafka, C++
    ul
      li Rebuilt microservices for a distributed monitoring backend(Go, Kafka); 10x speed & capacity increase; Onboarded developers & coordinated efforts; Eliminated deployment bottlenecks, 50% speedup
      li Built & used data science tools (Python, Elasticsearch-Logstash-Kibana, Hadoop) to find security holes, tune developer efforts & generate insights from Agent data
      li Worked on a Monitoring Agent (Lua, Luvit) including customer outreach; 100+ plugins integrated
      li Published an article about using and benchmarking Kafka on the company engineering blog, benchmarks were used to guide development
      li Documented the Luvit framework & built official docs website
      li Volunteer coordinator for Rax.io 2016, an internal hackathon & conference with 500+ attendees
      li Patches sent and accepted upstream to 10+ opensource projects including pypa/pip, facebook/HHVM, luvit/luvit, racker/dreadnot, docker/machine
  .job
    span
      h2 Hack The North
        +link('http://www.hackthenorth.com/')
          i.icon-link
      h5
        span.icon-summer
        span.icon-fall May - December 2014
      h6 Waterloo, Canada
    h3 Logistics Director
    p Managed logistical details for a 1000+ person MLH Hackathon like registration, food, internet, security
  .job
    span
      h2 SparkGig
        +link('http://www.sparkgig.com/')
          i.icon-link
      h5
        i.icon-fall
        i.icon-winter Sept 2013 - April 2014
      h6 Waterloo, Canada
    h3 Full-stack Developer, Cofounder
    h4 MongoDB, ExpressJS, AngularJS, NodeJS
    p Built features like payments, invoices, registrations, bookings, profiles etc. Featured on Dragon's Den.
  .job
    span
      h2 Prepr Foundation
        +link('http://www.prepr.org/')
          i.icon-link
      h5
        i.icon-summer July - August 2013
      h6 Toronto, Canada
    h3 Freelance web and mobile developer
    h4 JS, Cordova, Android. Jquery UI
    p Designed and built an Android app with barcode scanning, history, realtime API integration with smartTVs
  .job
    span
      h2 411.ca
        +link('http://veloxsites.com/')
          i.icon-link
      h5.icon-summer May - July 2013
      h6 Toronto, Canada
    h3 Web developer intern
    h4 PHP, JS, HTML, MySQL, Bootstrap
    p Fixed numerous bugs, prevented SQL injection attacks. Built UI widgets for editing, sales popups among others
