+sectionMid('Experience')
  .job
    span
      h2
        a(href='http://www.rackspace.com/') Rackspace Hosting
      h5 July 2015 - March 2016
      h6 San Francisco, CA, USA
    h3 Software Engineer Intern
    h4 Go, Lua, JS, Python, Ruby, Java, C++; Hadoop, Kafka, Bash, MongoDB, ElasticSearch, Logstash, Kibana, Grafana
    ul
      li Rebuilt microservices for a distributed monitoring backend (Go, Kafka); 10x speed & capacity increase; Onboarded developers & coordinated efforts; Eliminated deployment bottlenecks, 50% speedup
      li Built & used data science tools (Python, Elasticsearch-Logstash-Kibana, Hadoop) to find security holes, prioritize developer efforts & generate insights from data
      li Worked on a Monitoring Agent (Lua, Luvit) including customer outreach; 100+ plugins integrated
      li Published an article about using and benchmarking Kafka on the company engineering blog, benchmarks were used to guide development
      li Documented the Luvit framework & built official docs site
      li Coordinated volunteers for Rax.io 2016, an internal hackathon & conference with 500+ attendees
      li Patches sent and accepted upstream to 10+ opensource projects including pypa/pip, facebook/HHVM, luvit/luvit, racker/dreadnot, docker/machine
  .job
    span
      h2 
        a(href='www.sparkgig.com') SparkGig
      h5 Sept 2013 - April 2014
      h6 Waterloo, Canada
    h3 Full-stack Developer, Cofounder
    h4 MongoDB, ExpressJS, AngularJS, NodeJS
    ul
      li Built core features as a fullstack developer, growing revenue to >$1000/mo & 100+ DAU
      li Conducted user interviews to define new features
      li Recruited buyers & sellers, helped grow to 500+ users
      li Featured on Globe & Mail, Techvibes, The Record, Dragon's Den and raised ~$1m
  .job
    span
      h2 
        a(href='www.prepr.org') Prepr Foundation
      h5 July - August 2013
      h6 Toronto, Canada
    h3 Freelance web and mobile developer
    h4 JS, Cordova, Android, Jquery UI
    p Designed and built an Android app with barcode scanning, history, realtime API integration with smartTVs. Collaborated with offshore dev firm
  .job
    span
      h2 
        a(href='http://veloxsites.com/') 411.ca | Veloxsites
      h5 May - July 2013
      h6 Toronto, Canada
    h3 Web developer intern
    h4 PHP, JS, HTML, MySQL, Bootstrap
    p Fixed numerous bugs, prevented SQL injection attacks. Built UI widgets improving sales conversions 10%
