+sectionMidMin('Experience')
  include jobs/meta

  include jobs/scribd

  .job
    span
      h2
        a(href='https://www.ibm.com/ca-en/marketplace/business-intelligence') IBM Cognos Analytics
      h5 Jan 2018 - Apr 2019
      h6 Ottawa, Canada
    h3 Software Engineer
    h4 JavaScript (ES6), HTML, SASS, React, JSX, Mobex, Travis, Python, Tensorflow, Docker
    ul
      li Architected and delivered 3 multi team & codebase features; auto-grouping, copy-paste, data-binning
      li Filed 2 patents related to web app architecture and hybrid blockchains
      li Championed code-base modernization using ES6, React
      li Reduced CI failures 90% by driving Travis integration
      li Won an internal machine learning competition using Tensorflow
      li Mentored interns and full-timers, ran workshops on blockchains, Travis, git
      li Created devtool scripts which cut onboarding by 50%

  .job
    span
      h2
        a(href='http://www.rackspace.com/') Rackspace
      h5 Jul 2015 - Mar 2016
      h6 San Francisco, USA
    h3 Software Engineer Intern
    h4 Go, Lua, JS, Python, Ruby, Java, C++, Bash;  Hadoop, Hive, Kafka, MongoDB, ElasticSearch, Logstash, Kibana, Grafana, Docker, Chef, Travis, Jenkins, Ansible
    ul
      li Achieved a 10x speed and capacity increase in a distributed monitoring system using Go microservices & Kafka
      li Doubled 
        +link('https://github.com/virgo-agent-toolkit/rackspace-monitoring-agent') Lua monitoring agent 
        | coverage by writing or integrating ~100 plugins, included customer outreach
      li Resolved developer disputes and guided development using Kafka client benchmarking & published 
        +link('https://developer.rackspace.com/blog/Apache-Kafka-Client-Benchmarks/') benchmarks 
        | to the Rackspace dev blog
      li Halved deployment times with automation 
        +link('https://github.com/racker/dreadnot') patches 
      li Patches sent and accepted upstream to 10+ opensource projects including
        +link('https://github.com/pypa/pip/pull/3372') pip, 
        +link('https://github.com/facebook/hhvm/commit/5a2fad570d64bb0c0f63286e1c76262a968c2ee2') HHVM, 
        +link('https://github.com/docker/machine/pull/2652') docker 

  .job
    .trigger2.jobCollapseTrigger
        button(onclick="$('.collapsedJobs').toggle(); $('.jobCollapseTrigger').toggle();")
          a +5 more... (2 years of experience in full stack web & mobile development including founding a startup featured on Dragon's Den, internships & contracts.)
  .collapsedJobs.collapsed
    .job
      span
        h2 
          a(href='http://www.sparkgig.com') SparkGig
        h5 Sep 2013 - Apr 2014
        h6 Waterloo, CA
      h3 Co-Founder, Full-stack Developer
      h4 MongoDB/NoSQL, ExpressJS, AngularJS, NodeJS, Nginx, AWS
      ul
        li Built core features of marketplace app as 1 of 3 founding developers including payments, profiles, invoices
        li Conducted user interviews to define & prioritize new features
        li Recruited buyers & sellers, grew to 500+ users & >$10k/yr revenue
        li Featured on Globe & Mail, Techvibes, The Record, 
          +link('https://betakit.com/airbnb-of-entertainment-sparkgig-takes-the-stage-on-thedisruptors/') Betakit, 
          +link('http://www.cbc.ca/dragonsden/pitches/sparkgig') Dragon's Den 
          | and raised >$1m  
    .job
      span
        h2 
          a(href='https://github.com/farmtable') Farmtable
        h5 Sep - Dec 2014
        h6 Waterloo, CA
      h3 Freelance full-stack developer, Tech lead
      h4 Ruby, Rails, Coffeescript, SQL, AWS
      p Led 4 person team to build startup MVP (marketplace & scheduler)...
    .job
      span
        h2
          a(href='http://www.flybrizi.com/') Brizi
        h5 Apr - May 2014
        h6 Waterloo, CA
      h3 Freelance full-stack developer
      h4 JS, PHP, MySQL | CoffeeScript, Jade, Stylus, Bootstrap, ffmpeg
      p Built social, video & image webviews, Twitter integration...
    .job
      span
        h2 
          a(href='www.prepr.org') Prepr Foundation
        h5 Jul - Aug 2013
        h6 Toronto, CA
      h3 Freelance web and mobile developer
      h4 JS, Cordova, Android/Java, SocketIO, Jquery UI, SQL, NodeJS
      p Built cross-platform mobile app with barcode scanning...
    .job
      span
        h2 
          a(href='http://veloxsites.com/') 411.ca | Veloxsites
        h5 May - Jul 2013
        h6 Toronto, CA
      h3 Full-Stack developer intern
      h4 PHP, JS, HTML, MySQL, Bootstrap
      p Prevented mysql injection attacks, increased sales conversion 10% with widgets...
