.footer
  p.full Designed and coded with
    i.icon-heart
    | by
    a(href='https://github.com/kaustavha' target='_blank') kaustavha.
    |  Fork the template at
    a(href='https://github.com/kaustavha/kaustavha.github.com/tree/master/resume/3' target='_blank')
      i.icon-github
  p.min More detailed resume with links & minor positions available at
    a(href='http://bit.ly/khaldarcv' target='_blank') bit.ly/khaldarcv
    |   or via my website
    a(href='http://kaustav.me' target='_blank') kaustav.me
