.footer
  p.full Designed and coded with
    i.icon-heart
    | by
    a(href='https://github.com/kaustavha' target='_blank') kaustavha.
    |  Fork the template at
    a(href='https://github.com/kaustavha/kaustav-haldar-resume' target='_blank')
      i.icon-github kaustavha/kaustav-haldar-resume
  p.min More detailed resume with links & minor positions available at
    a(href='http://bit.ly/khaldarcv' target='_blank' id='print') bit.ly/khaldarcv
    |   or via my website. 
