+sectionMidMin("Other Experience")
  .job
    span
      h2 
        a(href='http://www.hackthenorth.com/') Hack The North
      h5 May - December 2014
      h6 Waterloo, Canada
    h3 Logistics Director
    p Managed logistics for a 1000+ attendee MLH Hackathon like registration, food, internet, security. Coordinated volunteers and vendors on day of event

  .job
    span
      h2 
        a(href='https://nootropix.com/') Nootropix
      h5 January - October 2015
    h3 Co-founder | Writer | Editor
    p Launched a neuroscience blog with 5 cofounders. 7k unique visitors, 3 revenue partnerships. Recruited writers and edited their work. Wrote articles on neuroscience, psychology & pharmacology

+sectionMidMin('Education')
  .education
    span
      h2 University of Waterloo
      h5 Waterloo, ON, Canada
    p B.A. Psychology, CS Minor* | 2014 - 2017/2018

+sectionMidMin('Hackathons & Projects')
  .alignLeft
    span.project
      h2
        a(href='https://github.com/kaustavha/ethwaterloo-bit/tree/master') Basic Identity Token
        h5 2017
      p Won Storj API prize at EthWaterloo Nov '17. Social media platform on the Ethereum blockchain. {JS, React, Solidity}

    span.project
      h2
        a(href='https://github.com/BlakeBrown/hackroulette') HackRoulette - HackPrinceton
        h5 Winter 2015
      p Top 8 software hack from 62 finalists. Video-chat using Twitter data and machine learning for user pairing {JS}

    span.project
      h2
        a(href='https://github.com/kaustavha/presentahack') Presentahack - HackWestern
        h5 Winter 2015
      p Built a presentation tool for hackers using a LeapMotion IR controller {NodeJs}

    span.project
      h2
        a(href='https://github.com/kaustavha/armada') Armada - McHacks, McGill
        h5 Winter 2015
      p Team lead. Built PoC for a cross platform app store.
        | Honorable mention. {node-webkit, cordova, JS}

    span.project
      h2 
        a(href='https://github.com/kaustavha/eth-ui') Eth-UI
        h5 Summer 2014
      p Worked on an experimental UI for Ethereum {Coffeescript, Jade, Angular, LESS, Foundation, node-webkit}
      
    span.project
      h2
        a(href='https://github.com/kaustavha/UWChat') UWChat Mobile Application
        h5 Winter 2014
      p Developed a real-time, cross-platform, multi-user messenger app
        | {JS, Angular, Cordova, Firebase}

    span.project
      span
        h2 Websites
        h5 2013,2014
      p Design and development of websites for friends and freelance {HTML,CSS,JS,Bootstrap,Foundation}.
      ul
        p
          a(href='http://kaustavha.github.io/Phyla/index.html') Phyla Digital Electronic music group site
        p
          a(href='http://kaustavha.github.io/tyler/index.html') "Gate 17" play promotional site
        p
          a(href='http://kaustavha.github.io/flyinc/flyinc.html') Flyinc flyer delivery landing page

    span.project
      span
        h2 
          a(href='https://github.com/kaustavha/Angel') AngelHack, Toronto
        h5 Summer 2013
      p Built arbitrage trader using Oanda API, 2nd place for Oanda API use. {Python}
        | Co-authored realtime app for smartTVs, won Prepr API prize. {JS}

    span.project
      span
        h2 Facebook Hackathon
        h5 Winter 2013
      p Collaborated on a social data visualization app.
        | Last awake team member, deployed to Heroku and presented to judges