+sectionMid('Education')
  .education
    span
      h2 University of Waterloo
      h5 Waterloo, ON, Canada
    p B.A. Psychology | 2014 - 2017
    p B.A.Sc. Management Engineering | 2012 - 2014

+sectionMid("Other Experience")
  .job
    span
      h2 
        a(href='http://www.hackthenorth.com/') Hack The North
      h5 May - December 2014
      h6 Waterloo, Canada
    h3 Logistics Director
    p Managed logistical details for a 1000+ attendee MLH Hackathon like registration, food, internet, security. Coordinated volunteers and vendors on day of event

  .job
    span
      h2 
        a(href='https://nootropix.com/') Nootropix
      h5 January - October 2015
    h3 Co-founder | Writer | Editor
    p Launched a neuroscience blog with 5 people from online forums. 7k unique visitors, 3 revenue partnerships. Recruited writers and edited their work. Wrote articles on neuroscience & pharmacology


+sectionMid('Hackathons & Projects')
  .alignLeft
    span.project
      h2 Basic Identity Token
        h5 2017
      p Social media platform on the Ethereum blockchain. In-progress, PoC {JS, React, Solidity}

    span.project
      h2
        a(href='https://github.com/BlakeBrown/hackroulette') HackRoulette
        h5 Winter 2015
      p Video-chat using Twitter data and machine learning for user pairing.
        | Top 8 software hack from 62 competitors. Built at Hack Princeton. {JS}

    span.project
      h2
        a(href='https://github.com/kaustavha/presentahack') Presentahack
        h5 Winter 2015
      p Built a presentation tool for hackers using a LeapMotion IR controller
        | Built at HackWestern, UWestern, London. {JS}

    span.project
      h2
        a(href='https://github.com/kaustavha/armada') Armada
        h5 Winter 2015
      p Team lead. Built PoC for a cross platform app store.
        | Built at McHacks, McGill, Montreal. {node-webkit, cordova, JS}

    span.project
      h2
        a(href='https://github.com/kaustavha/UWChat') UWChat Mobile Application
        h5 Winter 2014
      p Developed a real-time, cross-platform, multi-user messenger on Android
        | {JS, Angular, Cordova, Firebase}

    span.project
      span
        h2 
          a(href='https://github.com/kaustavha/Angel') AngelHack, Toronto
        h5 Summer 2013
      p Built an arbitrage trader using Oanda API. {Python}
        | Co-authored realtime app for smartTVs, won Prepr prize. {JS}
