+sectionMid('Hackathon & Open-Source projects')
  .alignLeft
    span.project
      h2 Basic Identity Token
        h5 2017
      p Social media platform on the Ethereum VM/blockchain. In-progress, PoC {JS, React, Solidity}

    span.project
      h2
        | HackRoulette
        +link('https://github.com/BlakeBrown/hackroulette')
          i.icon-github
        h5.icon-winter 2015
      p Video-chat app, uses Twitter data and machine learning for user pairing.
        | Built at Hack Princeton. Top 8 software projects out of 62 finishing teams. {JS}

    span.project
      h2
        | Presentahack
        +link('https://github.com/kaustavha/presentahack')
          i.icon-github
        h5.icon-winter 2015
      p Built a presentation tool for hackers using a LeapMotion IR controller
        | Built at HackWestern, UWestern, London. {JS}

    span.project
      h2
        | Armada
        +link('https://github.com/kaustavha/armada')
          i.icon-github
        h5.icon-winter 2015
      p Team lead. Worked on logos & PoC for a cross platform app store.
        | Built web, mobile and desktop versions. Built at McHacks, McGill, Montreal. {node-webkit, cordova, JS}

    span.project
      h2
        | UWChat Mobile Application
        +link('https://github.com/kaustavha/UWChat')
          i.icon-github
        h5.icon-winter 2014
      p Developed a real-time, cross-platform, multi-user messaging capable Android
        | application leveraging Cordova and Firebase. {JS}

    span.project
      span
        h2
          | Gate Seventeen Promo website
          +link('http://kaustavha.github.io/tyler/index.html')
            i.icon-link
          h5.icon-winter 2014
        p Promotional website for Gate Seventeen, a kick-started drama production based out of
          | Oakville

    span.project
      span
        h2
          | Jade-Stylus-Coffeescript seed
          +link('https://github.com/kaustavha/jade-stylus-coffeescript-seed')
            i.icon-github
        h5.icon-fall 2014
      p A boilerplate for bootstrapping websites/web applications using modern pre-processors 

    span.project
      span
        h2 Templater
          +link('http://kaustavha.github.io/Templater/templater.html')
            i.icon-github
        h5.icon-fall 2014
      p AngularJS application for templating out similar documents using string
        | interpolation and content editable UI components {Angular, JS}

    span.project
      span
        h2 Phyla Digital website
          +link('http://kaustavha.github.io/Phyla/index.html')
            i.icon-link
        h5.icon-summer 2013
      p Design and development of a website template for the Phyla electronic music group {HTML, CSS, JS}

    span.project
      span
        h2 Fly Inc. marketing website
          +link('http://kaustavha.github.io/flyinc/flyinc.html')
            i.icon-link
        h5.icon-summer 2013
      p Designed and developed a website for my roommates flyer delivery business

    span.project
      span
        h2 AngelHack Hackathon, Toronto
          +link('https://github.com/kaustavha/Angel')
            i.icon-github
        h5.icon-summer 2013
      p Built an arbitrage trader using the Oanda API. {Python}
        | Co-authored a smart TV interfacing expressJS application, won the Prepr API prize. {JS}

    span.project
      span
        h2 Facebook Hackathon
        h5.icon-winter 2013
      p Collaborated on a social data visualization app.
        | Last awake team member, deployed to Heroku and presented to judges
