.full.techFullContainer
  +sectionMid('Technical')
    .alignMid
      +techList('Languages'
        , 'JavaScript | CoffeScript'
        , 'HTML | JADE'
        , 'Lua'
        , 'Go'
        , 'CSS | LESS | Stylus'
        , 'PHP'
        , 'Python'
        , 'C#'
        , 'Ruby'
        , 'Java'
        , 'C++'
        , 'Bash'
        )
      +techList('Storage Engines'
        , 'MongoDB'
        , 'Redis'
        , 'Cassandra'
        , 'My/PostgreSQL'
        , 'SQlite'
        , 'Firebase'
        , 'Hadoop'
        , 'Elasticsearch-Logstash-Kibana'
        )
      +techList('Front-End'
        , 'Twitter Bootstrap'
        , 'Zurb Foundation'
        , 'Metro UI CSS'
        , 'jQuery'
        , 'Angular'
        , 'React'
        , 'Backbone'
        )
      +techList('Tools'
        , 'Grunt | Gulp | Brunch | Make'
        , 'Yeoman | Truffle'
        , 'Bower | Webpack'
        , 'npm | pip | lit | ethPM'
        , 'Git | SVN'
        , 'Heroku | AWS EC2 | GoDaddy'
        , 'Nginx | Apache 2'
        , 'Ffmpeg'
        )
      +techList('Mobile & Desktop'
       , 'Phonegap | Cordova | Ionic'
       , 'Node-webkit'
       , 'Meteor'
       )
      +techList('Libraries'
        , 'Node'
        , 'Luvit'
        , 'Django | Flask'
        , 'ExpressJS Sails.js | MEAN.io'
        , 'Kafka'
        )
