.header
  span.title
    h1 Kaustav Haldar
  span.title-right
    span.infoContact
      ul.styleNone.titleContact
        li
          i.icon-globe
          a(href='http://kaustav.me' target='_blank') kaustav.me
        li
          i.icon-mail
          a(href='mailto:hi@kaustav.me') hi@kaustav.me
        li
          i.icon-mobile
          a(href='https://github.com/kaustavha' target='_blank') 226-988-9222
      ul.styleNone.titleLinks
        li
          i.icon-blank
          a(href='https://linkedin.com/in/khaldar') linkedin.com/in/khaldar
        li
          i.icon-blank
          a(href='https://github.com/kaustavha' target='_blank') github.com/kaustavha
hr.blue#header-seperator
