@media print
  .min
    margin-bottom -20px
  .footer
    margin-top 0px
    margin-bottom 0px
    padding 0px
  .icon-link
    display none
  .trigger
    display none !important
  hr
    display none
    height 2px
    margin 1px 0px !important
  hr.blue:before
    display none
    margin-left 25%
    width 50%
    border-top solid 1px #308dff
  #header-seperator
    display none
    height 0px !important
    width 100% !important
    margin-left 0 !important
  hr.blue
    display none
    margin 10px
    background #308dff !important
    // height 1px !important
  hr.grey
    display none
  .sectionContainer
    padding 0px 0px !important
  .footer
    margin-top -2px
    margin-bottom 0px
  a
    text-decoration none
    color #333
  a:visited
    color #333
  #print
    color #308dff
  // .footer
  //   height 0px !important
  //   display none !important
