.header
  display block
  // height 125px
  // padding-bottom 15px
#header-seperator
    height 3px
    width 100%

.title-right
  width 350px
  display inline-flex
  // margin-left 175px
  float right

.address
  color #308dff
  padding-left 5px
  text-align center

.infoContact
  a
    color #308dff
  li
    margin 0px
    line-heigh 0px
    font-weight 200
  li:before
    content ''

.title
  float left
  h1
    color #4d4d4d
    font-size 300%

.titleContact
  float left
.titleLinks
  float right