+experience_job(
    'Meta', 
    'https://meta.com', 
    'Feb 2022 - Jan 2023', 
    'Remote - Toronto, Canada', 
    'Principal engineer - Meta FinTech / Diem Core', 
    'Rust, Solidity, Hack, JS, Python, Internal tools'
)
    ul
        li Architected and wrote, audited, interoperable, Solidity smart contracts powering the launch of
            +link('https://about.fb.com/news/2022/11/new-creators-tools-facebook-and-instagram/') Instagram NFTs 
            span on Polygon
        li Principal engineer on decentralized storage manager service, wrote Rust implementation used to write NFT media data to Arweave 
        li Python, Hack/PHP work on internal tools and integrations
        li Research engineering on internal frameworks for cross chain comparison for Diem, Move
