+experience_job(
    'Meta', 
    'https://meta.com', 
    'Feb 2022 - Now', 
    'Remote - Toronto, Canada', 
    'Principal engineer - MFT / Diem Core', 
    'Rust, Solidity, Hack, JS, Python, Internal tools'
)
    ul
        li Architected and wrote audited, interoperable Solidity smart contracts powering 
            +link('https://about.fb.com/news/2022/11/new-creators-tools-facebook-and-instagram/') Instagram NFTs 
            span on Polygon
        li Principal engineer on decentralized storage rust implementation used to write NFT media data to Arweave 
        li Python and hack/PHP work on internal tools and integration
        li Research engineering on internal frameworks for cross chain comparison for Diem, Move
