+experience_job(
    'Scribd', 
    'https://scribd.com', 
    'Dec 2019 - Jun 2020', 
    'Remote - Toronto, Canada', 
    'Software Engineer II - Content Engineering', 
    'Scala, Ruby on Rails, Python, SQL, Databricks, Spark, DataDog, Sentry, Airflow, MLFlow'
)
    ul
        li Architected and implemented content understanding ML systems
        li Incident response and ownership over our upload spam detection system
        li Wrote tooling for and conducted largescale SQL backfills
        li Wrote and migrated high throughput nightly jobs in Spark/Scala/Airflow
        li External audit support on data and system functionality information 
        li Supported ML teams with full stack engineering including devops, versioning, frontend, security, monitoring etc
