doctype html
head
    title Curriculum Vitae
    link(rel='stylesheet', href='lib/fonts.css')
    link(rel='stylesheet', href='lib/normalize.css')
    link(rel='stylesheet', href='lib/reset.css')
    link(rel='stylesheet', href='lib/index.css')
    script(src='lib/jq.min.js')
    script(src='lib/google_analytics.min.js')
    meta(content='Resume for techonology company internships ~ summer 2015; Rev. S17')
    meta(author='Kaustav Haldar')

body
  .trigger
      button(onclick="$('.full').toggle(); $('.min').toggle();")
        .min See full resume/CV
        .full See 1 page resume
  include includes/mixins
  include includes/title
  .full
    .content
      include includes/summary
      include includes/experience_full
      include includes/education
      include includes/misc
      include includes/projects
      include includes/technical_full
  .min
      .content
        .content-left
          include includes/experience_min
        .content-right
          include includes/min_col2
      .content
        hr.grey
  .footer
    include includes/footer
